sphinx
jinja2<3.1
recommonmark==0.6.0
sphinx-rtd-theme==1.0.0

cloudpickle
hydra-core
omegaconf==2.1.0
pybind11
flake8==3.8.1 
isort==4.3.21
black==22.3.0
autoflake
timm
pytest
scipy==1.7.3
torch
torchvision

git+https://github.com/IDEA-Research/detrex.git