sphinx
jinja2<3.1
recommonmark==0.6.0
sphinx-rtd-theme==1.0.0

# Dependencies here are only those required by import
termcolor
numpy
tqdm
matplotlib
tabulate
Pillow
future
cloudpickle
hydra-core
omegaconf==2.1.0
pybind11
flake8==3.8.1 
isort==4.3.21
black==22.3.0
autoflake
timm
pytest
scipy==1.7.3
git+https://github.com/facebookresearch/fvcore.git
git+https://github.com/facebookresearch/detectron2.git
https://download.pytorch.org/whl/cpu/torch-1.8.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
https://download.pytorch.org/whl/cpu/torchvision-0.9.1%2Bcpu-cp37-cp37m-linux_x86_64.whl
git+https://github.com/IDEA-Research/detrex.git


